body, svg {
  background-color: #ffffff;
  font-family: sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

svg circle {
  stroke-width: 2.0px;
  stroke: #fff;
  fill: #fff;
}

svg line {
  stroke-width: 1.0px;
  stroke: #bbb;
}

svg text {
  text-anchor: middle;
  stroke-width: 0px;
  stroke: #fff;
  fill: #000;
}

svg g {
  cursor: pointer;
}

svg a text {
  y: 3em;
}
